/* Minimal CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  background-color: #f8f9fa;
}

button,
input,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

header {
    margin: 15px;
    width: 100%;
    display: flex;
    align-items: center;
}

main {
    height: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

